-if current_user.present?
  = link_to 'Ecrire un nouveau post', new_post_path, class:"btn btn-default"
.container
  .row
    .col-md-12
      .panel
        .panel-body
          / /stories
          - @posts.each do |post|
            .row
              %br/
              .col-md-2.col-sm-3.text-center

                = link_to image_tag(post.postImage,:style => "width:100px;height:100px" , class:"story-img img-circle"), post

              .col-md-10.col-sm-9
                %h3
                  = link_to post.titre,post
                .row
                  .col-xs-9
                    %p
                      =post.header
                    %p.lead

                    -# %p.pull-right
                    -#   %span.label.label-default keyword
                    -#   %span.label.label-default tag
                    -#   %span.label.label-default post
                    %ul.list-inline
                      %li
                        %a{:href => "#"} Publié le
                        =post.publishDate

                      -# %li
                      -#   %a{:href => "#"}
                      -#     %i.glyphicon.glyphicon-comment
                      -#     4 Comments
                      -# %li
                      -#   %a{:href => "#"}
                      -#     %i.glyphicon.glyphicon-share
                      -#     34 Shares
                  .col-xs-3
                %br/
                %br/
            %hr/


-#
-# %h1 Listing posts
-#
-# %table
-#   %thead
-#     %tr
-#       %th Titre
-#       %th User
-#       %th Header
-#       %th Image
-#       %th Publishdate
-#       -# %th Content
-#       %th
-#       %th
-#       %th
-#
-#   %tbody
-#     - @posts.each do |post|
-#       %tr
-#         %td= post.titre
-#         %td= post.user_id
-#         %td= post.header
-#         %td
-#         %td= post.publishDate
-#         -# %td= post.content
-#         %td= link_to 'Show', post
-#         -if current_user.present?
-#           %td
-#           %td
-# %br
